<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="finger">
    <xacro:macro name="finger" params="parent prefix link joint_type">
        <link name="${prefix}_link" >
            <visual>
                <geometry>
                    <origin xyz="${xyz}" rpy="${rpy}" />
                    <mesh filename="file:///$(find rob_teleeop)/models/robot_nano_hand_finger1_link${link}.stl" scale="1 1 1"/>
                </geometry>
            </visual>
        </link>
        <joint name="${prefix}_joint" type="${joint_type}">
            <origin xyz="${xyz}" rpy="${rpy}" />
            <parent link="${parent}"/>
            <child link="${prefix}_link"/>
        </joint>
    </xacro:macro>
</robot>